<div class='w-full flex flex-col gap-4 py-1 h-64 py-8 justify-center items-center text-center lg:text-left text-gray-600 z-30 bottom-0 bg-gray-100 '>
  <a href="/" class='font-bold text-2xl text-green-600 '>HutechBook</a>
  <nav class="flex flex-row">
      <ul class="flex flex-row gap-2">
        <li
          class='hover:opacity-70 border-b-2 hover:border-b-black border-b-transparent hover:scale-97 ease-in-out p-2'>
          <a href='/'>Home</a></li>
        <li
          class='hover:opacity-70 border-b-2 hover:border-b-black border-b-transparent hover:scale-97 ease-in-out p-2'>
          <a href='/books'>View Books</a></li>
        <li
          class='hover:opacity-70 border-b-2 hover:border-b-black border-b-transparent hover:scale-97 ease-in-out p-2'>
          <a href='/dashboard'>Trang Quản Lý</a></li>
          <li
          class='hover:opacity-70 border-b-2 hover:border-b-black border-b-transparent hover:scale-97 ease-in-out p-2'>
          <a href='/login'>Sign In</a></li>
          <li
          class='hover:opacity-70 border-b-2 hover:border-b-black border-b-transparent hover:scale-97 ease-in-out p-2'>
          <a href='/signup'>Sign Up</a></li>
          <li
          class='hover:opacity-70 border-b-2 hover:border-b-black border-b-transparent hover:scale-97 ease-in-out p-2'>
          <a href='/logout'>Logout</a></li>
      </ul>
  </nav>
  </a>
</div>